In [33]:
import pandas as pd
df = pd.read_csv("co.csv")
df.head()

,Company Name,Layoff Total,Workforce Region,WARN Date,Reason for Layoff,Occupations,Layoff Date(s),Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
0,Albertsons #632,38,Mesa County,6/4/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albertsons #8584,78,Pikes Peak/Teller,3/24/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ambassadors Group,1,Denver,4/27/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Baker Hughes Inc.,17,Adams County,9/30/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Baker Hughes Inc.,124,Adams County,8/12/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df = df.rename(columns={"Company Name": "companyName", "Layoff Total": "numAffected", "WARN Date": "noticeDate", "Layoff Date(s)": "layoffDate"})

In [39]:
def is_standard_date(date):
    try:
        # Try to convert the string to a datetime object
        pd.to_datetime(date)
        return True
    except ValueError:
        # If it fails, it's not a standard date
        return False

# Create a boolean mask where each value is True if the date is not standard and False otherwise
mask = ~df['noticeDate'].apply(is_standard_date)
df[mask]

,companyName,numAffected,Workforce Region,noticeDate,Reason for Layoff,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
170,"Conagra Brands, Inc.",100,Boulder,05/24/19 - 3/20/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Peak Reliability,69,Larimer,1/7/19 & 4/6/2020,Terminate Operations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,"Sandoz Inc., A Novartis Division (Update)",24,Broomfield,1/7/19 & 4/6/2020,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,HomeAdvisor,229,Pikes Peak,11-1-19 received 11/19/19 via Local Area/Suthe...,Closure,Various: Predominately Sales Consultants and P...,1/1/20 to 1/14/20,NaN,NaN,NaN,NaN,NaN
216,Invesco (OppenheimerFunds OFI),850,Arapahoe/Douglas (Centennial),3/21/19 (received 3/22/19),Downsizing,Not disclosed in WARN,5/25/19 (thru 18 mo following),NaN,NaN,NaN,NaN,NaN
220,National Express Transit (NEXT),60,Pikes Peak,3/1/19 (received on 3/22/19),Closure,3 Managers and 57 hourly employees including G...,6/30/19,NaN,NaN,NaN,NaN,NaN
223,PrimeFlight Aviation Services Inc.,439,Denver,7/15/19 (received 7/16/19),Loss of Contract with United Airlines,Various positions: Cabin Appearance Staff (380...,9/18/19,NaN,NaN,NaN,NaN,NaN
229,"Sandoz Inc., A Novartis Division (Update)",24,Broomfield,1/7/19 & 4/6/2020,Closure,"Production Technicians, Chemists, & more",4/13/19-5/30/19,NaN,NaN,NaN,NaN,NaN
230,Sandoz-Novartis,24,Broomfield,7/6/19-7/31/19,Closure,"Lead Technicians (5), Equipment Maintenance Te...",7/6/19 - 7/31/19,NaN,NaN,NaN,NaN,NaN

there's not enough records for me to create a script. i'll just manually edit them in csv

In [40]:
df.isna().sum()

companyName            0
numAffected           12
Workforce Region       0
noticeDate             0
Reason for Layoff      1
Occupations          213
layoffDate           220
Temp Layoffs         380
Perm Layoffs         453
Furloughs            446
WARN Letter          270
NAICS                244
dtype: int64

In [41]:
df['numAffected'] = df['numAffected'].fillna(df['Perm Layoffs'])

In [43]:
df[df['numAffected'].isna()]

,companyName,numAffected,Workforce Region,noticeDate,Reason for Layoff,Occupations,layoffDate,Temp Layoffs,Perm Layoffs,Furloughs,WARN Letter,NAICS
28,Lockheed Martin-Rev to 7/20/15 WARN,NaN,Pikes Peak/Teller,8/6/2015,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,7/20/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,7/1/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,5/15/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Sinton Dairy Foods Company/ Borden-Rev to 3/16/15,NaN,Pikes Peak/Teller,5/11/2015,Closure,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,10/11/2016,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,Sports Authority,NaN,Arapahoe/Douglas,6/15/2016,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,6/14/2016,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,Sports Authority,NaN,Arapahoe/Douglas,6/10/2016,Revision,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Sky Hotel 39 Degrees Recinds Layoffs from 2/5/...,NaN,Rural Resort,3/18/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,Climax Molybdenum Co - Henderson Mine & Mill -...,NaN,Jefferson,2/25/2016,Downsize,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df = df.dropna(subset=['numAffected'])

In [45]:
df.isna().sum()

companyName            0
numAffected            0
Workforce Region       0
noticeDate             0
Reason for Layoff      0
Occupations          202
layoffDate           209
Temp Layoffs         369
Perm Layoffs         442
Furloughs            435
WARN Letter          259
NAICS                233
dtype: int64

In [46]:
df.to_csv('co_processed.csv')